/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

/* Utilities */
.unstyled-link {
    text-decoration: none;
}

.color-white {
    color: #fff;
}

.color-gray {
    color: #666;
}

.unstyled-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-uppercase {
    text-transform: uppercase;
}

.mg-btm30 {
    margin-bottom: 30px;
}

/* LAYOUT */

/* App */
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Main window */
.main-window {
    display: flex;
    flex-grow: 1;
}

/* Sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 250px;
    background: #000;
    padding: 10px;
    font-size: 13px;
}

.sidebar .sidebar-nav .logo {
    width: 80%;
    margin-bottom: 30px;
    align-items: center;
}

.sidebar .sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar .sidebar-nav .nav-list img {
    width: 30px;
    margin: 5px;
    vertical-align: middle;
}

.sidebar .sidebar-nav h2 {
    font-size: 18px;
    margin: 20px 10px 0;
}

.sidebar .sidebar-nav .playlist li {
    padding: 10px;
}

.sidebar .sidebar-nav .playlist i {
    font-size: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar-account {
    display: flex;
    flex-direction: column;
}

.sidebar-account a:first-of-type {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.sidebar-account a i {
    font-size: 15px;
    margin-right: 20px;
}

.sidebar-account a:last-of-type  i {
    font-size: 25px;
    vertical-align: middle;
}

.sidebar a:hover {
    color: #fff;
}


/* Main content */
.main-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Top bar */
.top-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade-button {
    padding: 10px 30px;
    border: 1px solid #666;
    border-radius: 20px;
    margin-right: 20px;
}

/* Scrollable content */
.scrollable-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 110px 20px 20px;
    background: #141921;
}

.menu-list {
    display: flex;
    justify-content: center;
}

.menu-list a {
    padding: 10px;
}
/* Category */
.main-content .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.album {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content .category .album img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 20px 10px 20px 0;
}

.main-content .category.popular-artists img {
    border-radius: 50%;
}
.album .album-title {
    font-size: 12px;
}

.album .artist {
    font-size: 10px;
}


/* Player */
.bottom-player {
    height: 100px;
    background: #444;
}


